.online{
    display: flex;
    padding:20px;
    align-items: center;
}
.onlineImage{
    position: relative;
}
.onlineImage img{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right:20px;
    object-fit: cover;
}
.onlineBadge{
    position: absolute;
    width:15px;
    height:15px;
    background-color: rgb(3, 189, 3);
    border-radius: 50%;
    top:0;
    left:0;
}
.online span{
    text-transform: capitalize;
}
.online:hover{
    background-color: rgb(230, 230, 230);
}